<!-- START DOCUMENTATION -->
This is the template for the summary of a yearly category.

Placeholders:
	%1$s: category title
	%2$d: year

<!-- START SPECIFIC EXAMPLE -->
Bot: creazione categoria annuale di servizio per il 2018

<!-- START TEMPLATE -->
Bot: creazione categoria annuale di servizio per il %2$d
