<!-- START DOCUMENTATION -->
This is the template for the content of a montly category.

Placeholdes:
	%1$s: category title
	%2$d: year
	%3$d: month
	%4$s: human month

<!-- START SPECIFIC EXAMPLE -->
[[Categoria:Cancellazioni - 2018| 04]]

<!-- START TEMPLATE -->
[[Categoria:Cancellazioni - %2$d| %3$d]]

